@{
	ViewData["Title"] = "Dashboard";
}
<div class="layout-px-spacing">
	<div class="row layout-top-spacing">
		<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
			<h3>
				Welcome to Garderobe !
			</h3>
		</div>
	</div>
</div>