<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
	<link href="~/site/assets/css/loader.css" rel="stylesheet" type="text/css" />
	<script src="~/site/assets/js/loader.js"></script>

	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="~/site/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="~/site/assets/css/plugins.css" rel="stylesheet" type="text/css" />
	<link href="~/site/assets/css/main.css" rel="stylesheet" type="text/css" />
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL ~/site/plugins/CUSTOM STYLES -->

	<style>
		.layout-px-spacing {
			min-height: calc(100vh - 166px) !important;
		}
	</style>
	<!-- END PAGE LEVEL ~/site/plugins/CUSTOM STYLES -->
	@await RenderSectionAsync("Styles", false)
	<title>@ViewData["Title"]</title>
</head>
<body>
	<!--  BEGIN NAVBAR  -->
	<div class="header-container fixed-top">
		<header class="header navbar navbar-expand-sm">
			<ul class="navbar-item theme-brand flex-row  text-center">
				<li class="nav-item theme-text">
					<a href="javascript:void(0)" class="nav-link"> Garderobe </a>
				</li>
			</ul>
		</header>
	</div>
	<!--  END NAVBAR  -->
	<!--  BEGIN NAVBAR  -->
	<div class="sub-header-container">
		<header class="header navbar navbar-expand-sm">
			<a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>
		</header>
	</div>
	<!--  END NAVBAR  -->
	<!--  BEGIN MAIN CONTAINER  -->
	<div class="main-container" id="container">

		<div class="overlay"></div>
		<div class="search-overlay"></div>

		<!--  BEGIN SIDEBAR  -->
		<div class="sidebar-wrapper sidebar-theme">
			<nav id="sidebar">
				<div class="shadow-bottom"></div>
				<ul class="list-unstyled menu-categories" id="accordionExample">
					<li class="menu">
						<a asp-controller="Customer" asp-action="List" aria-expanded="false" class="dropdown-toggle">
							<div class="">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-check"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><polyline points="17 11 19 13 23 9"></polyline></svg>
								<span> Customers </span>
							</div>
						</a>
					</li>
					<li class="menu">
						<a asp-controller="Cloth" asp-action="List" aria-expanded="false" class="dropdown-toggle">
							<div class="">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
								<span> Cloths </span>
							</div>
						</a>
					</li>
					<li class="menu">
						<a asp-controller="Shelf" asp-action="Manage" aria-expanded="false" class="dropdown-toggle">
							<div class="">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
								<span> Shelves </span>
							</div>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<!--  END SIDEBAR  -->
		<!--  BEGIN CONTENT PART  -->
		<div id="content" class="main-content">
			@RenderBody()
		</div>
		<!--  END CONTENT PART  -->
	</div>
	<!-- END MAIN CONTAINER -->
	<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
	<script src="~/site/assets/js/libs/jquery-3.1.1.min.js"></script>
	<script src="~/site/bootstrap/js/popper.min.js"></script>
	<script src="~/site/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/site/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script src="~/site/assets/js/app.js"></script>
	<script>
		$(document).ready(function () {
			App.init();
		});
	</script>
	<script src="~/site/assets/js/custom.js"></script>
	<script src="~/site/assets/js/script.js"></script>
	@await RenderSectionAsync("Scripts", false)
	<!-- END GLOBAL MANDATORY SCRIPTS -->
	<!-- BEGIN PAGE LEVEL ~/site/plugins/CUSTOM SCRIPTS -->
	<!-- BEGIN PAGE LEVEL ~/site/plugins/CUSTOM SCRIPTS -->
</body>
</html>